En el archivo auto.csv se encuentran los siguientes datos de diferentes automóviles:

Cilindros
Cilindrada
Potencia
Peso
Aceleración
Año del coche
Origen
Consumo (mpg)
Las unidades de las características de los automóviles no se encuentran en el sistema internacional. La variable “origen” es un código que identifica al país de origen.

Crea un modelo con él para que se pueda estimar el consumo de un vehículo a partir del resto de las variables.

Importar Librerias

In [81]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
import numpy as np
from sklearn.linear_model import Lasso
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import uniform as sp_rand

Lectura de los datos

In [82]:
auto = pd.read_csv("C:\\Users\\DEAM\\Downloads\\auto.csv")
auto

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,mpg
0,8,307.0,130.0,3504.0,12.0,70,1,18.0
1,8,350.0,165.0,3693.0,11.5,70,1,15.0
2,8,318.0,150.0,3436.0,11.0,70,1,18.0
3,8,304.0,150.0,3433.0,12.0,70,1,16.0
4,8,302.0,140.0,3449.0,10.5,70,1,17.0
...,...,...,...,...,...,...,...,...
387,4,140.0,86.0,2790.0,15.6,82,1,27.0
388,4,97.0,52.0,2130.0,24.6,82,2,44.0
389,4,135.0,84.0,2295.0,11.6,82,1,32.0
390,4,120.0,79.0,2625.0,18.6,82,1,28.0
391,4,119.0,82.0,2720.0,19.4,82,1,31.0

Extraccion de variables independientes

In [83]:
x = auto.loc[:, auto.columns != 'mpg']
x

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,8,307.0,130.0,3504.0,12.0,70,1
1,8,350.0,165.0,3693.0,11.5,70,1
2,8,318.0,150.0,3436.0,11.0,70,1
3,8,304.0,150.0,3433.0,12.0,70,1
4,8,302.0,140.0,3449.0,10.5,70,1
...,...,...,...,...,...,...,...
387,4,140.0,86.0,2790.0,15.6,82,1
388,4,97.0,52.0,2130.0,24.6,82,2
389,4,135.0,84.0,2295.0,11.6,82,1
390,4,120.0,79.0,2625.0,18.6,82,1
391,4,119.0,82.0,2720.0,19.4,82,1

Extraccion de variable dependiente

In [84]:
y = auto[['mpg']]
y

      mpg
0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
..    ...
387  27.0
388  44.0
389  32.0
390  28.0
391  31.0

[392 rows x 1 columns]

Utilizando Seleccion univariante

In [85]:
from sklearn.feature_selection import VarianceThreshold
var_th = VarianceThreshold(threshold = 0.9)
x_var = var_th.fit_transform(x)

print("Variables originales ", x.shape[1])
print("Variables finales ", x_var.shape[1])

print("Listado de variables ", np.asarray(list(x))[var_th.get_support()])

Variables originales  7
Variables finales  6
Listado de variables  ['cylinders' 'displacement' 'horsepower' 'weight' 'acceleration'
 'model_year']

Eliminando el parametro origen de acuerdo al resultado anterior

In [86]:
x2 = x.loc[:, x.columns != 'origin']
x2

     cylinders  displacement  horsepower  weight  acceleration  model_year
0            8         307.0       130.0  3504.0          12.0          70
1            8         350.0       165.0  3693.0          11.5          70
2            8         318.0       150.0  3436.0          11.0          70
3            8         304.0       150.0  3433.0          12.0          70
4            8         302.0       140.0  3449.0          10.5          70
..         ...           ...         ...     ...           ...         ...
387          4         140.0        86.0  2790.0          15.6          82
388          4          97.0        52.0  2130.0          24.6          82
389          4         135.0        84.0  2295.0          11.6          82
390          4         120.0        79.0  2625.0          18.6          82
391          4         119.0        82.0  2720.0          19.4          82

[392 rows x 6 columns]

Regresion lineal multiple

In [95]:
from sklearn.preprocessing import PolynomialFeatures


poly_2 = PolynomialFeatures(degree = 2, include_bias = False)
x_2 = poly_2.fit_transform(x2)

model_2 = LinearRegression(fit_intercept=False)
model_2.fit(x_2,y)
print("R2", model_2.score(x_2,y))
print("w_1", model_2.coef_[0][0])
print("w_2", model_2.coef_[0][1])

R2 0.8836818174629355
w_1 15.096428755025093
w_2 -0.5503670326620059